.post-link
  padding: 20px 0
  color: #333
  display: block
  font: 700 19px/1.7 font-sans
  *
    display: inline
    color: inline
  &:hover *
    color:brand-color
    opacity: 1
  .post-meta
    font: normal 15px/1.5em font-sans
    max-width: 400px
    display: none
    margin-top: 4px
    float: right
  & span
    display: block
    font: normal 16px/1.5em font-sans
    color: #aaa

.blog-post + .blog-post
  border-top: 1px solid border-color
