.profile,
.archive-title
  border-bottom: 1px solid #eee
  margin: 70px 0
  padding: 40px 0
  text-align: center
  position: relative
  #avatar
    display: inline-block
    width: 80px
    height: 80px
    border-radius: 50%
    margin-bottom: 20px
  .site-title
    font-weight: 400
    letter-spacing: 0px
    color: #222
    margin: 0
  .site-description
    font: 300 20px font-sans
    color: #aaa
    margin-top: 7px
    margin-bottom: 0
