.site-nav
  padding: 20px 20px 0
  margin: 0 auto
  text-align: right
  z-index: 100
  a
    padding: 8px 12px
    font-size: 13px
    line-height: 1.35
    border-radius: 3px
    &:last-child
      background: #5badf0
      color: #fff
      margin-left: 12px

#post-navigation, .pagination
  width: 100%
  padding: 15px 0
  font-size: 13px
  clearfix()
  a.prev
    float: left
  a.next
    float: right
.pagination
  border-top: 1px solid border-color
